<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>FrontControleur</servlet-name>
        <servlet-class>controleurs.FrontControleur</servlet-class>
        
        <!--
        <init-param>
            <param-name>catalogue-affichage</param-name>
            <param-value>controleurs.secondaires.CatalogueAffichageCtrl</param-value>
        </init-param>
        <init-param>
            <param-name>operations-panier</param-name>
            <param-value>controleurs.secondaires.OperationsPanierCtrl</param-value>
        </init-param>
        <init-param>
            <param-name>panier-affichage</param-name>
            <param-value>controleurs.secondaires.PanierAffichageCtrl</param-value>
        </init-param>
        -->
        
        <init-param>
            <param-name>donnees-create</param-name>
            <param-value>controleurs.secondaires.DonneesCreateCtrl</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontControleur</servlet-name>
        <url-pattern>/FrontControleur</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <ejb-local-ref>
        <ejb-ref-name>CreationData</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.gp2.data.CreationDataLocal</local>
        <ejb-link>restaurant-ejb.jar#CreationData</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>CreationData1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.gp2.data.CreationDataLocal</local>
        <ejb-link>restaurant-ejb.jar#CreationData</ejb-link>
    </ejb-local-ref>
</web-app>
